.grade-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  min-height: 100%;
  height: 80%;
  width: calc(100% - 2 * 0.5rem);
  z-index: auto;
  background-color: white;
  overflow: hidden;
}

.grade-wrapper {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: auto;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
}

.grade-top {
  display: flex;
  width: 100%;
  min-height: 100%;
  height: 80vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  justify-content: center;
}

.dnd-list-container {
  z-index: 2;
  width: 436px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  /* border: 2px solid rgb(212, 212, 212); */
  overflow: hidden;
  border-radius: 10px;
  display: block;
  box-shadow: 0 1px 3px 0 rgba(63, 66, 69, 0.39),
    0 4px 8px 3px rgba(63, 66, 69, 0.16);
}
.dnd-list-wrapper {
  height: 100%;
  width: 100%;
  background-color:rgb(255, 255, 255);
  overflow: hidden;
}
.dndl-content {
  display: block;
  position: relative;
  height: 84%;
  width: 100%;
  padding: 6px 9px;
  border: none;
  outline: none;
  overflow: auto;
}
.dndl-content::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
}
.dndl-content::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Set the border-radius to round the edges of the thumb */
}
.dndl-content::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Set the color of the scrollbar track */
}

.dndl-item {
  display: block;
  position: relative;
  height: 3rem;
  border-radius: 6px;
  padding: 6px;
  background-color: rgb(190, 190, 190);
  margin-bottom: 6px;
}
.dndl-item-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  justify-content: space-between;
}

.dndlina {
  display: block;
  width: 30%;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  font-weight: bold;
} 
.dndshare {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dndliwi {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dndl-item-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  border-radius: 10px;
}

/* --------------------------------------------------------- */

.dndl-tools {
  background-color: #22c55e;
  height: 16%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.dndl-tools-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  margin-right: 1rem;
  margin-left: 1rem;
}
.dndl-tools-actions > button {
  border: none;
  background-color: #bebebe;
}
.addIPlustbtn:hover {
  color: #0866ff;
  background-color: white;
  transition: 0.1s ease-in all;
}
.createTbtn:hover {
  color: #8b5cf6;
  background-color: white;
  transition: 0.1s ease-in all;
}
.addIPlustbtn:active, .createTbtn:active {
  background-color: black;
  transition: 0.1s ease all;
}

/* --------------------------------------------------------- */
.grade-table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: calc(100% - 2 * 0.5rem);
  z-index: auto;
  background-color: rgb(255, 255, 255);
}
.grade-table-box {
  display: block;
  position: relative;
  height: 100%;
  z-index: 1;
  border: 2px solid rgb(136, 136, 136);
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: auto; 
  padding: 0.5rem;
  margin: 0.3rem 0.1rem 0.3rem 0.1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgba(63, 66, 69, 0.39),
    0 4px 8px 3px rgba(63, 66, 69, 0.16);
}
.grade-table-box::-webkit-scrollbar {
  width: 5px;
}
.grade-table-box::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* Set the color of the scrollbar thumb */
  border-radius: 15px; /* Set the border-radius to round the edges of the thumb */
}
.grade-table-box::-webkit-scrollbar-track {
  background-color: rgb(136, 136, 136); /* Set the color of the scrollbar track */
  border-radius: 15px;
}
.grade-table-wrapper {
  height: 100%;
  width: 100%;
  background-color: aqua;
  position: relative;
  display: flex;
  flex-direction: column;
}


.table-dialog {
  min-width: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin: 0;
  padding: 0 0.1rem;
  gap: 0.3rem;
  border-radius: 0;
}
.table-dialog > button > svg {
  display: none;
}
.table-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #22c55e;
  padding: 0.5rem;
  height: 8%;
  width: 100%;
}
.table-box {
  background-color: aliceblue;
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 83vh;
  min-width: 100%;
  width: 99.9%;
  overflow: auto;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0;
}

.tbNavBtn {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1;
  padding: 5px 6px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: black;
}