.stream-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: calc(100% - 2 * 1.5rem);
  max-width: 63rem;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  z-index: auto;
  overflow: hidden;
}
.stream-header {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 1.5rem;
}

.stream-header .wrapper {
  position: relative;
  height: 13rem;
  width: 100%;
  overflow: hidden;
}

.stream-header-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("https://gstatic.com/classroom/themes/img_bookclub.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.stream-header-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem;
  color: white;
}

.change-theme-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  top: 0;
  margin: 1rem 1rem 1rem 0rem;
}
.change-theme {
  font-size: 0.75rem;
  padding: 3px 0 3px 0;
  cursor: pointer;
}
.change-theme:hover {
  text-decoration: underline;
}

.main-label,
.sub-label {
  display: block;
  padding-right: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space-collapse: collapse;
  text-wrap: nowrap;
}
.main-label {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.5rem;
}
.sub-label {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.classroom-sharing {
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
  margin-right: 1.5rem;
  overflow: hidden;
  border-radius: 50%;
}

aside {
  display: block;
}
.stream-body {
  display: flex;
  margin-top: 1.5rem;
  overflow: hidden;
}
.stream-aside {
  flex-shrink: inherit;
  overflow: hidden;
}

/* Upcoming card for deco */
.upcoming-card {
  background-color: white;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 9px;
  width: 11.6rem;
  margin-right: 1rem;
  padding: 0.6rem;
}
.upcoming-title {
  padding-bottom: 1rem;
  font-size: 0.83rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: none;
}
.upcoming-content {
  display: block;
}
.upC-main {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}
.vwAllUpC {
  display: block;
  text-align: right;
  margin: 0.5rem 0rem;
}

.link-todo {
  color: #018373;
  font-size: 0.83rem;
  font-weight: 500;
  padding: 8px 9px;
}

.link-todo:hover {
  background-color: rgb(227, 227, 227);
}

/* Stream Main content */
main {
  display: block;
}

.stream-main {
  background-color: white;
  overflow: hidden;
  margin: -1rem;
  padding: 1rem;
  flex-grow: 1;
  min-height: 100vh;
}
.streamContent-wrapper {
  display: block;
  overflow: hidden;
}

/* Announce Card */
.announce-box {
  min-height: 4rem;
  box-shadow: 0 1px 2px 0 rgba(63, 66, 69, 0.3),
    0 2px 6px 2px rgba(63, 66, 69, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.empty-box {
  min-height: 4rem;
  /* box-shadow: 0 1px 2px 0 rgba(63, 66, 69, 0.3),
    0 2px 6px 2px rgba(63, 66, 69, 0.15); */
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border: 1px #d6d6d6 solid;
}
.announce-box- {
  min-height: 4rem;
  /* box-shadow: 0 1px 2px 0 rgba(63, 66, 69, 0.3),
    0 2px 6px 2px rgba(63, 66, 69, 0.15); */
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px #dcdcdc solid;
  outline: none;
}
.announceCard-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: auto;
  border: none;
  outline: none;
}
.inactive-announceContent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  position: relative;
}
.iaAnnounce-text {
  position: absolute;
  width: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.549);
  display: block;
  padding: 1.3rem 0 1.3rem 4rem;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.iaAnnounce-text:hover {
  color: #32ac71;
}
.announce-avt {
  background-color: transparent;
  margin: 1rem 0rem 1rem 1.3rem;
  z-index: 10;
  /* padding: 1rem 0 1rem 0; */
}
.announce-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.announce-txt {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 3.5rem;
  overflow: hidden;
  border: none;
}
.announce-content { 
  display: block;
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space-collapse: collapse;
  text-wrap: nowrap;

}
.daytime-created {
  font-size: 12px;
  color: #666a6e;
}
.announce-actions {
  position: absolute;
  right: 0.8rem;
}
.announce-comments {
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #666a6e;
  border-top: 1px #dcdcdc solid;
}

/* -------------------------------------------- */

.active-announceContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 1.3rem;
}
.announce-txtarea {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  position: relative;
}
.lbtxtareaa {
  position: absolute;
  left: 0.6rem;
  top: 1.5rem;
  transition: top 0.3s ease, font-size 0.3s ease; /* Add a smooth transition effect for top and font-size */
  pointer-events: none;
}
.txtareaa {
  margin-top: 1rem;
  background-color: #efefef;
  min-height: 6rem;
  padding: 0;
  border-radius: 0;
}
.txtareaa:focus {
  outline: none;
  border: none;
  border-style: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.announce-txtarea:hover + .txtareaa:hover {
  background-color: #e5e5e5;
}
.txtareaa:focus + .lbtxtareaa,
.announce-txtarea:focus-within .lbtxtareaa {
  top: 0.3rem; /* Adjust the top position when in focus */
  font-size: 14px;
  color: #32ac71;
}
.lbtxtareaa.floating {
  top: 0.3rem;
  font-size: 14px;
  color: #32ac71;
}

.announce-footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.announce-action-buttons, .announce-upload-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}


/* Dialog */
.invite-dialog {
  background-color: #fff;
  border-radius: 8px;
  height: 32rem;
  max-height: 100%;
  width: 100%;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  outline: 1px solid transparent;
  overflow: hidden;
  transition: transform 0.225s cubic-bezier(0, 0, 0.2, 1),
    -webkit-transform 0.225s cubic-bezier(0, 0, 0.2, 1);
}
.invite-dialog > button > svg {
  display: none;
}
.inv-dialog-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  flex-grow: 2;
  flex-shrink: 2;
  line-height: 20px;
  display: block;
  outline: none;
}

.classlink-area {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.classlink-area input {
  outline: none;
  box-sizing: border-box;
  padding: 0.5rem;
}
.classlink-area input:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.inv-dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  width: 100%;
}

.inv-student-area {
  overflow-y: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  flex: 1 1 auto;
}
.inv-student-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.search-select {
  display: block;
  background-color: white;
  padding: 0;
  margin: 0.5rem 0;
  flex: initial;
}
.invite-area {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  overflow: auto;
}
.inv-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: start;
}

.search-bar {
  height: 40px;
  flex: 1 1;
  flex-basis: 139px;
  margin-left: 4px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.search-email {
  background: #fff;
  color: black;
  flex: 1 1;
  border: none;
  outline: none;
  padding: 0;
}


/* Search Result */
.search-result {
  overflow-y: auto;
}
